/*Constants*/

/*Colors*/
@header-text-main-color-active: #8ebc00;
@header-text-main-color-inactive: #787878;
@header-user-account-widget-active: @header-text-main-color-active;
@header-user-account-widget-inactive: @header-text-main-color-inactive;

/*Sizes*/
@site-header-heigh: 32px;
@site-header-user-account-widget-height: @site-header-heigh;
@site-header-user-account-widget-separator-height: ( @site-header-heigh / 2);

/* Embed fonts*/
@font-face {
	font-family: 'SegoeUIRegular';
	src: url('../fonts/SEGOEUI.TTF'), url('../fonts/SEGOEUI.eot'); /* IE9+ */
}

@font-face {
	font-family: 'SegoeUISemiBold';
	src: url('../fonts/SEGUISB.TTF'), url('../fonts/SEGUISB.eot'); /* IE9+ */
}

/* Reseters */
body, h1, span, nav {
	margin: 0;
	padding: 0;
	font-family: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


/* Utilities */
.clear {
	min-height: 0;
	-zoom: 1;

	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

/* Styles */
html {
	font: 75% SegoeUIRegular, arial, helvetica, sans-serif;
}

#site-wrap {
	margin: 20px auto;
	width: 960px;
}

/*Site heder*/
#site-header {
	margin-bottom: 10px;
	padding-bottom: 10px;
	height: @site-header-heigh;
	border-bottom: 1px solid @header-text-main-color-active;
	text-transform: lowercase;

	#site-title {
		float: left;
		width: 50%;
		height: 100%;
		color: @header-text-main-color-inactive;
	}

	#site-header-user-account-wrap {
		width: 50%;
		height: 100%;
		float: right;

		& > div {
			height: 100%;
		}

		.site-header-user-account-widget {
			display: block;
			float: right;
			margin: 0 15px;
			height: @site-header-user-account-widget-height;
		}

		.site-header-user-account-widget-separator {
			margin: ( @site-header-heigh / 4) 0;
			width: 1px;
			height: ( @site-header-heigh / 2);
			background-color: @header-user-account-widget-inactive;
		}

		.site-header-user-account-widget-link {
			height: @site-header-user-account-widget-height;
			color: @header-user-account-widget-inactive;
			font-size: 125%;
			line-height: @site-header-user-account-widget-height;
			cursor: pointer;

			&:hover {
				color: @header-user-account-widget-active;
			}
		}

		.site-header-user-account-widget-static {
			height: @site-header-user-account-widget-height;
			color: @header-user-account-widget-active;
			font-size: 125%;
			line-height: @site-header-user-account-widget-height;
		}
	}
}

/*Main navigation*/
#site-main-nav-wrap {
	display: block;
	width: 100%;

	& .site-main-nav-item {
		min-width: (958px / 7 - 1);
		text-align: center;
		text-transform:lowercase;
	}
}


/*Login and Register forms*/
#login-register-forms-wrap {
	display: none;
}

#login-form, #registtration-form {
	padding: 10px;
	width: 400px;

	.k-textbox {
		display: block;
		margin-bottom: 10px;
		width: 100%;
		text-transform:lowercase;
	}

	.k-button {
		float: right;
		margin-left: 10px;
		width: 80px;
		height: 30px;
		text-transform:lowercase;
	}

	.k-invalid-msg {
		display: block;
		margin: 15px;
	}
}

.k-window-titlebar {
	text-align: center;
	text-transform:lowercase;
}
