/*Constants*/

/*Colors*/
@header-text-main-color-main: #8ebc00;
@header-text-main-color-secondary: #787878;
@header-border-color: #8ebc00;
@header-user-account-widget-main: @header-text-main-color-main;
@header-user-account-widget-secondary: @header-text-main-color-secondary;
@footer-text-main-color-inactive: @header-text-main-color-secondary;
@footer-border-color: #8ebc00;
@user-account-form-widget-satus-bar-color: #e24a17;
@color-main: @header-text-main-color-main;
@color-secondary: @header-text-main-color-secondary;
@color-error: @user-account-form-widget-satus-bar-color;
@color-borders: #dadada;
/*Sizes*/
@site-wrap-size: 960px;
@site-header-heigh: 48px;
@site-header-user-account-widget-height: @site-header-heigh;
@site-header-user-account-widget-separator-height: (@site-header-heigh / 2);
@site-content-height: 698px;
@site-footer-height: 20px;
@login-registration-forms-size: 500px;
@user-account-form-widget-height: 2.2em;
@single-page-widget: 32px;
@page-content-button-height: 2.4em;

/* Embed fonts*/
@font-face {
	font-family: 'SegoeUIRegular';
	src: url('../fonts/SEGOEUI.TTF'), url('../fonts/SEGOEUI.eot'); /* IE9+ */
}

@font-face {
	font-family: 'SegoeUISemiBold';
	src: url('../fonts/SEGUISB.TTF'), url('../fonts/SEGUISB.eot'); /* IE9+ */
}

/* Reseters */
body, section, nav, h1, span, nav, p {
	margin: 0;
	padding: 0;
	font-family: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Utilities */
.clear {
	min-height: 0;
	-zoom: 1;

	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

.color-main {
	color: @color-main;
}

.color-secondary {
	color: @color-main;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* Styles */
html {
	font: 100% SegoeUIRegular, arial, helvetica, sans-serif;
	text-transform: lowercase;
}

#site-wrap {
	margin: 20px auto;
	width: @site-wrap-size;
}

/*Site header */
#site-header {
	margin-bottom: 10px;
	padding-bottom: 5px;
	height: @site-header-heigh;
	border-bottom: 1px solid @header-border-color;

	#site-title {
		float: left;
		width: 50%;
		height: 100%;

		a {
			color: @header-text-main-color-secondary;
			text-decoration: none;

			&:hover {
				color: @header-text-main-color-main;
			}
		}
	}

	#site-header-user-account-wrap {
		width: 50%;
		height: 100%;
		float: right;

		& > div {
			height: 100%;
		}

		.site-header-user-account-widget {
			display: block;
			float: right;
			margin: 0 15px;
			height: @site-header-user-account-widget-height;
		}

		.site-header-user-account-widget-separator {
			margin: (@site-header-heigh / 4) 0;
			width: 1px;
			height: (@site-header-heigh / 2);
			background-color: @header-user-account-widget-secondary;
		}

		.site-header-user-account-widget-link {
			height: @site-header-user-account-widget-height;
			color: @header-user-account-widget-secondary;
			font-size: 125%;
			line-height: @site-header-user-account-widget-height;
			cursor: pointer;

			&:hover {
				color: @header-user-account-widget-main;
			}
		}

		.site-header-user-account-widget-static {
			height: @site-header-user-account-widget-height;
			color: @header-user-account-widget-main;
			font-size: 125%;
			line-height: @site-header-user-account-widget-height;
		}
	}
}

/*Main navigation*/
#site-main-nav-wrap {
	display: block;
	width: 100%;

	& .site-main-nav-item {
		min-width: ((@site-wrap-size - 2) / 6 - 1);
		text-align: center;
	}
}

/* Site pages */
#site-content {
	position: relative;
	padding: 10px 0;
	min-height: @site-content-height;

	.single-page-header {
		margin-bottom: 10px;
		color: @color-main;
		font-size: 200%;
	}

	.page-content-sub-section {
		margin-bottom: 10px;
	}

	.page-content-sub-section-header {
		margin-bottom: 10px;
		height: @single-page-widget;
		border: 1px solid @color-borders;
		color: @color-secondary;
	}

	.single-page-widget-group-33 {
		display: block;
		float: left;
		margin: 15px 0;
		width: (100% / 3);

		& .single-page-widget-input {
			width: 70%;
		}

		& .single-page-widget-label {
			width: 25%;
		}
	}

	.single-page-widget-group-50 {
		display: block;
		float: left;
		margin: 15px 0;
		width: (100% / 2);

		& .single-page-widget-input {
			width: 65%;
		}

		& .single-page-widget-label {
			width: 35%;
		}
	}

	.single-page-widget-group-67 {
		display: block;
		float: left;
		margin: 15px 0;
		width: (100% / 3 * 2);

		.single-page-widget-input {
			width: 75%;
		}

		.single-page-widget-label {
			width: 15%;
		}
	}	
	
	.single-page-widget-group-100 {
		display: block;
		margin: 15px 0;

		.single-page-widget-input {
			width: 88.9%;
		}

		.single-page-widget-label {
			width: 10%;
		}
	}

	.single-page-widget-label {
		display: block;
		float: left;
		margin-right: 10px;
		height: @single-page-widget;
		color: @color-secondary;
		line-height: @single-page-widget;
	}

	.single-page-widget-label-value {
		display: block;
		float: left;
		margin-right: 10px;
		height: @single-page-widget;
		color: @color-main;
		line-height: @single-page-widget;
	}

	.page-content-button {
		min-width: (@page-content-button-height * 4);
		height: @page-content-button-height;
	}

	#page-add-question-correct-answers-list,
	#page-add-question-wrong-answers-list {
		margin: 10px;
		border: 0;
	}

	.page-add-question-answer-wrap {
		margin: 5px 0;

		.page-add-question-answer-text {
			margin-right: 5px;
			width: 889px;
		}

		.page-add-question-answer-button {
			width: 40px;
		}
	}
}

/* Site footer */
#site-footer {
	margin-top: 10px;
	padding-top: 5px;
	height: @site-footer-height;
	border-top: 1px solid @footer-border-color;

	p {
		font-size: 75%;
	}
}

/*Login and Register forms*/
#login-register-forms-wrap {
	display: none;
}

#login-form, #registration-form {
	padding: 10px;
	width: @login-registration-forms-size;

	.user-account-form-widget {
		height: @user-account-form-widget-height;
	}

	.user-account-form-button {
		float: right;
		margin-left: 10px;
		width: (@user-account-form-widget-height * 3);
	}

	.user-account-form-status {
		display: none;
		padding-bottom: 5px;
		width: 100%;
		color: @user-account-form-widget-satus-bar-color;
		line-height: @user-account-form-widget-height;
	}

	.user-account-form-widget-group {
		display: block;
		margin-bottom: 10px;
		width: 100%;

		.user-account-form-field {
			display: block;
			width: 100%;
		}

		.user-account-form-label {
			display: block;
			width: 100%;
			color: @header-text-main-color-main;
			line-height: @user-account-form-widget-height;
		}
	}
}

.k-window-title {
	color: @header-text-main-color-main;
	line-height: 1.2em;
	text-align: center;
}

.page-message-box {
	margin-top: 20%;
	text-align: center;
}

.page-status-box {
	color: @color-error;
}
