/*Constants*/
/*Colors*/
/*Sizes*/
/* Embed fonts*/
@font-face {
  font-family: 'SegoeUIRegular';
  src: url('../fonts/SEGOEUI.TTF'), url('../fonts/SEGOEUI.eot');/* IE9+ */
}
@font-face {
  font-family: 'SegoeUISemiBold';
  src: url('../fonts/SEGUISB.TTF'), url('../fonts/SEGUISB.eot');/* IE9+ */
}
/* Reseters */
body,
section,
nav,
h1,
span,
nav,
p {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Utilities */
.clear {
  min-height: 0;
  -zoom: 1;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
.color-main {
  color: #8ebc00;
}
.color-secondary {
  color: #8ebc00;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* Styles */
html {
  font: 100% SegoeUIRegular, arial, helvetica, sans-serif;
  text-transform: lowercase;
}
#site-wrap {
  margin: 20px auto;
  width: 960px;
}
/*Site header */
#site-header {
  margin-bottom: 10px;
  padding-bottom: 5px;
  height: 48px;
  border-bottom: 1px solid #8ebc00;
}
#site-header #site-title {
  float: left;
  width: 50%;
  height: 100%;
}
#site-header #site-title a {
  color: #787878;
  text-decoration: none;
}
#site-header #site-title a:hover {
  color: #8ebc00;
}
#site-header #site-header-user-account-wrap {
  width: 50%;
  height: 100%;
  float: right;
}
#site-header #site-header-user-account-wrap  > div {
  height: 100%;
}
#site-header #site-header-user-account-wrap .site-header-user-account-widget {
  display: block;
  float: right;
  margin: 0 15px;
  height: 48px;
}
#site-header #site-header-user-account-wrap .site-header-user-account-widget-separator {
  margin: 12px 0;
  width: 1px;
  height: 24px;
  background-color: #787878;
}
#site-header #site-header-user-account-wrap .site-header-user-account-widget-link {
  height: 48px;
  color: #787878;
  font-size: 125%;
  line-height: 48px;
  cursor: pointer;
}
#site-header #site-header-user-account-wrap .site-header-user-account-widget-link:hover {
  color: #8ebc00;
}
#site-header #site-header-user-account-wrap .site-header-user-account-widget-static {
  height: 48px;
  color: #8ebc00;
  font-size: 125%;
  line-height: 48px;
}
/*Main navigation*/
#site-main-nav-wrap {
  display: block;
  width: 100%;
}
#site-main-nav-wrap .site-main-nav-item {
  min-width: 158.66666666666666px;
  text-align: center;
}
/* Site pages */
#site-content {
  position: relative;
  padding: 10px 0;
  min-height: 698px;
}
#site-content .single-page-header {
  margin-bottom: 10px;
  color: #8ebc00;
  font-size: 200%;
}
#site-content .page-content-sub-section {
  margin-bottom: 10px;
}
#site-content .page-content-sub-section-header {
  margin-bottom: 10px;
  height: 32px;
  border: 1px solid #dadada;
  color: #787878;
}
#site-content .single-page-widget-group-33 {
  display: block;
  float: left;
  margin: 15px 0;
  width: 33.333333333333336%;
}
#site-content .single-page-widget-group-33 .single-page-widget-input {
  width: 70%;
}
#site-content .single-page-widget-group-33 .single-page-widget-label {
  width: 25%;
}
#site-content .single-page-widget-group-50 {
  display: block;
  float: left;
  margin: 15px 0;
  width: 50%;
}
#site-content .single-page-widget-group-50 .single-page-widget-input {
  width: 65%;
}
#site-content .single-page-widget-group-50 .single-page-widget-label {
  width: 35%;
}
#site-content .single-page-widget-group-67 {
  display: block;
  float: left;
  margin: 15px 0;
  width: 66.66666666666667%;
}
#site-content .single-page-widget-group-67 .single-page-widget-input {
  width: 75%;
}
#site-content .single-page-widget-group-67 .single-page-widget-label {
  width: 15%;
}
#site-content .single-page-widget-group-100 {
  display: block;
  margin: 15px 0;
}
#site-content .single-page-widget-group-100 .single-page-widget-input {
  width: 88.9%;
}
#site-content .single-page-widget-group-100 .single-page-widget-label {
  width: 10%;
}
#site-content .single-page-widget-label {
  display: block;
  float: left;
  margin-right: 10px;
  height: 32px;
  color: #787878;
  line-height: 32px;
}
#site-content .single-page-widget-label-value {
  display: block;
  float: left;
  margin-right: 10px;
  height: 32px;
  color: #8ebc00;
  line-height: 32px;
}
#site-content .page-content-button {
  min-width: 9.6em;
  height: 2.4em;
}
#site-content #page-add-question-correct-answers-list,
#site-content #page-add-question-wrong-answers-list {
  margin: 10px;
  border: 0;
}
#site-content .page-add-question-answer-wrap {
  margin: 5px 0;
}
#site-content .page-add-question-answer-wrap .page-add-question-answer-text {
  margin-right: 5px;
  width: 889px;
}
#site-content .page-add-question-answer-wrap .page-add-question-answer-button {
  width: 40px;
}
/* Site footer */
#site-footer {
  margin-top: 10px;
  padding-top: 5px;
  height: 20px;
  border-top: 1px solid #8ebc00;
}
#site-footer p {
  font-size: 75%;
}
/*Login and Register forms*/
#login-register-forms-wrap {
  display: none;
}
#login-form,
#registration-form {
  padding: 10px;
  width: 500px;
}
#login-form .user-account-form-widget,
#registration-form .user-account-form-widget {
  height: 2.2em;
}
#login-form .user-account-form-button,
#registration-form .user-account-form-button {
  float: right;
  margin-left: 10px;
  width: 6.6000000000000005em;
}
#login-form .user-account-form-status,
#registration-form .user-account-form-status {
  display: none;
  padding-bottom: 5px;
  width: 100%;
  color: #e24a17;
  line-height: 2.2em;
}
#login-form .user-account-form-widget-group,
#registration-form .user-account-form-widget-group {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
#login-form .user-account-form-widget-group .user-account-form-field,
#registration-form .user-account-form-widget-group .user-account-form-field {
  display: block;
  width: 100%;
}
#login-form .user-account-form-widget-group .user-account-form-label,
#registration-form .user-account-form-widget-group .user-account-form-label {
  display: block;
  width: 100%;
  color: #8ebc00;
  line-height: 2.2em;
}
.k-window-title {
  color: #8ebc00;
  line-height: 1.2em;
  text-align: center;
}
.page-message-box {
  margin-top: 20%;
  text-align: center;
}
.page-status-box {
  color: #e24a17;
}
